@import '../../styles/variables/color';

.r-pagination {
  display: flex;
  justify-content: center;

  button {
    margin: 0 0.5rem;
    padding: 0.6rem 1.5rem;
    background: transparent;
    border: none;
    outline: none !important;
    text-align: center;
    color: $surface-background;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &.active {
      background-color: $surface-background;
      border-radius: 3px;
      color: #fff;
      pointer-events: none;
    }
  }
}
