{
  "presets": [
    "react",
    "es2015",
    "stage-2",
    "flow",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-react-jsx-source"
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": [
        "transform-react-remove-prop-types",
        // "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": true,
            "regenerator": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "dynamic-import-node",
        "transform-es2015-modules-commonjs",
        [
          "transform-runtime",
          {
            "polyfill": true,
            "regenerator": true
          }
        ]
      ]
    }
  }
}
