@import 'variables/all';
@import 'base/all';
@import 'bootstrap/all'; // customize bootstrap

html,
body,
#root,
#app {
  min-height: 100vh;
  background: $primary;
}

#app {
  display: flex;
  flex-direction: column;

  position: relative;

  &.initializing {
    overflow: hidden;
  }
}
