.search-input {
  max-width: 35rem;
  width: 100%;

  .field {
    display: block;
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    transition: all 0.3s;

    &,
    &::placeholder {
      color: #c7c7c7;
    }
  }
}
