@import '../../../styles/variables/all';

.footer {
  padding: 6rem 0;
  background-color: $surface-background;
  color: #fff;
  text-align: right;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 4.5rem;
  }
}
