@import '../../../styles/variables/all';

.jumbo-tron {
  position: relative;
  background: url('https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2704&q=80');
  background-size: cover;
  background-position: 50% 50%;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 10;

    padding: 8rem 0;
    color: #fff;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 3.3rem;
  }

  p {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: lighter;
  }
}
