@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins Regular'),
    url('../media/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins Medium'),
    url('../media/font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-weight: 900;
  src: local('Saira Black'),
    url('../media/font/Saira-Black.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: #1d1d1d;
}

.bold {
  font-family: 'Saira' !important;
}
